# Local Docker Compose configuration
MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=colegio
MYSQL_USER=user
MYSQL_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/colegio?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQL8Dialect

EUREKA_URL=http://eureka-server:8761/eureka
ESTUDIANTE_SERVICE_URL=http://estudiante-service:8081
ASISTENCIA_SERVICE_URL=http://asistencia-service:8082
EVALUACION_SERVICE_URL=http://evaluacion-service:8083
JWT_ISSUER_URI=https://login.microsoftonline.com/YOUR_TENANT_ID/v2.0
JWT_AUDIENCE=YOUR_API_CLIENT_ID
CORS_ALLOWED_ORIGINS=http://localhost:4173
